#focus-areas-dropdown-container {
  position: absolute;
  top: 10px; /* adjusted via code to match trigger position */
  left: 10px; /* adjusted via code to match trigger position */
  z-index: 10006;
  background: #1131a8;
  width: 311px;
  height: 388px;
  overflow-y: auto; /* Enable vertical scrolling */
  overscroll-behavior: contain; /* Prevent Lenis interference */
  display: none; /* Initially hidden */
  box-shadow: 0 8px 24px 6px rgba(0, 0, 0, 0.16);
  backdrop-filter: blur(6px);
  background-image: url("../assets/gradient_texture_blue_dropdown_bg.png");
  background-size: cover;
  background-position: center;
}
